body {
  margin: 0;
  padding: 0;
  width: auto;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.frame {
  position: absolute;
  background-color: white;
  min-width: 100%;
  min-height: 100%;
  font-size: 1.5rem;
  z-index: 5;
}

.menu-frame {
  position: fixed;
  min-width: 70%;
  min-height: 100%;
  font-size: 1.5rem;
  top: 0;
  left: -100%;
  border-top: 1px solid white;
  z-index: 15;

  background: #f1b998;
  background: -moz-linear-gradient(left,  #f1b998 0%, #e15d59 0%, #f1b998 100%);
  background: -webkit-linear-gradient(left,  #f1b998 0%,#e15d59 0%,#f1b998 100%);
  background: linear-gradient(to right,  #f1b998 0%,#e15d59 0%,#f1b998 100%);
}

.menu-frame ul {
  min-width: 100%;
  padding: 0;
  list-style-type: none;
}

.menu-frame ul > li {
  border-bottom: 1px solid white;
  height: 40px;
  color: white;
  line-height: 40px;
  list-style: none;
}

.menu-frame ul > li:last-child {
  border-bottom: none;
}

.menu-frame ul > li a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.frame.moving {
  left: 100%;
  overflow: hidden;
  z-index: 10;
  -webkit-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.frame.moving .navbar {
  position: absolute;
}

.frame.current {
  left: 0;
  z-index: 10;
  border: none;
}

.frame.hidden {
  left: 200%;
  display: none;
}

.container {
  font-size: 100%;
}

.container.top-nav {
  margin-top: 50px;
}

.container.bottom-nav {
  margin-bottom: 50px;
}

.frame.login {
  background-color: #253568
}

.frame.login h2 {
  color: #5680ca;
  font-size: 1.5em;
  margin-bottom: 0;
}

.row.separator {
  height: 1rem;
}

.navbar-fixed-top {
  background-color: #253568;
  color: white;
}

.navbar-fixed-top .glyphicon,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-brand > img {
  display: inline-block;
}

.navbar-header {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar-header a {
  text-decoration: none;
  color: white;
}
